body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.result {
  font-size: 1.5em;
  margin-top: 20px;
}
